= f.text_field :datetime
= f.input :message
.form-actions
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), appointments_path(@staff_name), :class => 'btn'
